//main colors variables
$white: #fff;
$black: #000;
$light-black: #323C47;
$light-gray: #EBEFF2;
$gray: #e5e5e5;
$gray1: #333;
$dark_blue: #334D6E;
$blue_grey: #707683;
$accent_blue: #109CF1;


//brand colors based on the company logo
$brand-primary: $accent_blue;
$brand-secondary: $black;